Repository Medi-Go/MediGo, pull requests merged in 2022-07, with the labels that each got.

#6 [220714] Next js 로그인, 회원가입, 인증 페이지 구현
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.prettierrc.json
  frontend/README.md
  frontend/components/Medicine.tsx
  frontend/components/MedicineList.tsx
  frontend/contexts/auth.ts
  frontend/next-env.d.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.js
  frontend/pages/_document.js
  frontend/pages/api/hello.js
  frontend/pages/index.js
  frontend/pages/login/auth.tsx
  frontend/pages/login/index.tsx
  frontend/pages/login/register.tsx
  frontend/pages/main/index.tsx
  frontend/public/favicon.ico
  frontend/public/icon-192x192.png
  frontend/public/icon-256x256.png
  frontend/public/icon-384x384.png
  frontend/public/icon-512x512.png
  frontend/public/images/arrowRightBtn.png
  frontend/public/manifest.json
  frontend/public/vercel.svg
  frontend/styles/Home.module.css
  frontend/styles/globals.css
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: feature, frontend

#7 [220716] 네이버 소셜로그인 버튼 onClick 핸들러
  frontend/pages/login/index.tsx
Labels: feature, frontend

#8 [20220716] 구글 로그인 성공 시 main 이동
  backend/src/main/java/com/capstone/medigo/api/TestController.java
  backend/src/main/java/com/capstone/medigo/global/config/WebMvcConfig.java
  backend/src/main/java/com/capstone/medigo/global/security/config/SecurityConfig.java
  backend/src/main/java/com/capstone/medigo/global/security/handler/OAuth2SuccessHandler.java
  frontend/index.tsx
Labels: feature, backend

#9 [220716] 약물 상세페이지 구현
  frontend/components/MedicineList.tsx
  frontend/pages/detail/index.tsx
  frontend/pages/login/register.tsx
  frontend/pages/main/get.tsx
  frontend/pages/main/index.tsx
  frontend/public/images/mainLogo.png
Labels: feature, frontend

#10 [220716] 기존 mydata base code 추가
  backend/src/main/java/com/capstone/medigo/domain/member/beforemodel/Carrier.java
  backend/src/main/java/com/capstone/medigo/domain/member/beforemodel/Email.java
  backend/src/main/java/com/capstone/medigo/domain/member/beforemodel/Gender.java
  backend/src/main/java/com/capstone/medigo/domain/member/beforemodel/Jumin.java
  backend/src/main/java/com/capstone/medigo/domain/member/beforemodel/Member.java
  backend/src/main/java/com/capstone/medigo/domain/member/beforemodel/Password.java
  backend/src/main/java/com/capstone/medigo/domain/member/beforemodel/PhoneNumber.java
  backend/src/main/java/com/capstone/medigo/domain/member/controller/TestController.java
  backend/src/main/java/com/capstone/medigo/domain/member/controller/TokenController.java
  backend/src/main/java/com/capstone/medigo/domain/member/controller/UserApi.java
  backend/src/main/java/com/capstone/medigo/domain/member/model/BaseTimeEntity.java
  backend/src/main/java/com/capstone/medigo/domain/member/model/Role.java
  backend/src/main/java/com/capstone/medigo/domain/member/model/User.java
  backend/src/main/java/com/capstone/medigo/domain/member/repository/UserRepo.java
  backend/src/main/java/com/capstone/medigo/domain/member/service/CustomOAuth2UserService.java
  backend/src/main/java/com/capstone/medigo/domain/member/service/OAuth2Attribute.java
  backend/src/main/java/com/capstone/medigo/domain/member/service/UserService.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/controller/MedicineController.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/controller/dto/DataSaveRequest.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/controller/dto/DurSaveRequest.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/controller/dto/IngredientSaveRequest.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/controller/dto/KPISaveRequest.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/controller/dto/MedicineInfoSaveRequest.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/controller/dto/MedicineSaveRequest.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/controller/dto/MyDataSaveRequest.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/controller/dto/PrescriptionSaveRequest.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/model/Dur.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/model/Ingredient.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/model/Kpic.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/model/Medicine.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/model/MedicineInfo.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/model/Prescription.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/repository/DurRepository.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/repository/IngredientRepository.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/repository/KpicRepository.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/repository/MedicineInfoRepository.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/repository/MedicineRepository.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/repository/PrescriptionRepository.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/service/PrescriptionService.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/service/dto/ServiceDrawSaveDto.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/service/medicineInfo.json
  backend/src/main/java/com/capstone/medigo/global/common/ErrorCode.java
  backend/src/main/java/com/capstone/medigo/global/common/ErrorResponse.java
  backend/src/main/java/com/capstone/medigo/global/config/JpaAuditingConfig.java
  backend/src/main/java/com/capstone/medigo/global/exception/EntityNotFoundException.java
  backend/src/main/java/com/capstone/medigo/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/capstone/medigo/global/security/config/SecurityConfig.java
  backend/src/main/java/com/capstone/medigo/global/security/handler/OAuth2SuccessHandler.java
Labels: feature, backend

#11 [220717] submodule 적용 후 Jasypt 를 이용한 암호화 적용
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/capstone/medigo/domain/fetchmydata/MyDataYamlRead.java
  backend/src/main/java/com/capstone/medigo/domain/fetchmydata/controller/MyDataController.java
  backend/src/main/java/com/capstone/medigo/domain/fetchmydata/service/AES256.java
  backend/src/main/java/com/capstone/medigo/domain/fetchmydata/service/MyDataService.java
  backend/src/main/java/com/capstone/medigo/domain/member/beforemodel/Carrier.java
  backend/src/main/java/com/capstone/medigo/domain/member/beforemodel/Gender.java
  backend/src/main/java/com/capstone/medigo/domain/member/beforemodel/Member.java
  backend/src/main/java/com/capstone/medigo/domain/member/model/Carrier.java
  backend/src/main/java/com/capstone/medigo/domain/member/model/Email.java
  backend/src/main/java/com/capstone/medigo/domain/member/model/Gender.java
  backend/src/main/java/com/capstone/medigo/domain/member/model/Jumin.java
  backend/src/main/java/com/capstone/medigo/domain/member/model/Password.java
  backend/src/main/java/com/capstone/medigo/domain/member/model/PhoneNumber.java
  backend/src/main/java/com/capstone/medigo/domain/mydata/model/Prescription.java
  backend/src/main/java/com/capstone/medigo/global/config/JasyptConfig.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/com/capstone/medigo/domain/fetchmydata/MyDataYamlReadTest.java
Labels: feature, backend

#12 [220718] 테스트용 crud 추가
  backend/src/main/java/com/capstone/medigo/MedigoApplication.java
  backend/src/main/java/com/capstone/medigo/domain/crudtest/Post.java
  backend/src/main/java/com/capstone/medigo/domain/crudtest/PostController.java
  backend/src/main/java/com/capstone/medigo/domain/crudtest/PostPutRequest.java
  backend/src/main/java/com/capstone/medigo/domain/crudtest/PostRepository.java
  backend/src/main/java/com/capstone/medigo/domain/crudtest/PostRequest.java
  backend/src/main/java/com/capstone/medigo/domain/crudtest/PostService.java
  backend/src/main/java/com/capstone/medigo/global/security/config/SecurityConfig.java
Labels: feature, backend

#13 [chore]: recoil, react-query 설정
  frontend/components/Medicine.tsx
  frontend/contexts/auth.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.js
  frontend/pages/_app.tsx
  frontend/pages/detail/index.tsx
  frontend/pages/main/get.tsx
  frontend/yarn.lock
Labels: frontend

#14 [220719] crud 테스트 getAll 추가
  backend/src/main/java/com/capstone/medigo/domain/crudtest/PostController.java
  backend/src/main/java/com/capstone/medigo/domain/crudtest/PostService.java
Labels: feature, backend

#15 [220719] cors 테스트용 crud 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/crud/form.tsx
  frontend/pages/crud/index.tsx
  frontend/pages/crud/list.tsx
  frontend/pages/crud/queryKeys.ts
  frontend/pages/crud/service.ts
  frontend/yarn.lock
Labels: feature, frontend

#18 [220730] Navbar 컴포넌트 생성
  frontend/assets/nav/calendar_nav.svg
  frontend/assets/nav/graph_nav.svg
  frontend/assets/nav/mypage_nav.svg
  frontend/assets/nav/ranking_nav.svg
  frontend/components/Navbar/Navbar.tsx
  frontend/pages/main/index.tsx
  frontend/tsconfig.json
Labels: feature, frontend

#19 [220731] Navbar 컴포넌트 구현
  frontend/components/Medicine.tsx
  frontend/components/Navbar/Navbar.tsx
  frontend/custom.d.ts
  frontend/pages/_app.tsx
  frontend/pages/calendar/index.tsx
  frontend/pages/graph/index.tsx
  frontend/pages/main/index.tsx
  frontend/pages/profile/index.tsx
  frontend/styles/reset.css
  frontend/tsconfig.json
Labels: feature, frontend
